<!-- header section-->
<div class="header">
  <div class="header__items">
    <h1>GOOD FOOD GOOD LIFE</h1>
    <h3>Welcome To FOODLER</h3>
    <h3>Are You Hungry?</h3>
    <a class="header__iteems__a" href="#menuItems">Order Now</a>
  </div>
</div>
<!-- end of header -->

<!-- about Us section -->
<section class="about__section" id="about">
  <h1>About Us</h1>

  <div class="about__cards__section">
    <div class="about__card" data-aos="fade-up-left">
      <i class="about__icon fas fa-mug-hot"></i>
      <div class="card__details">
        <h2 class="subtitle">Drinks</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
          blanditiis debitis dolor atque quia numquam.
        </p>
      </div>
    </div>
    <div class="about__card" data-aos="fade-up-right">
      <i class="about__icon fas fa-utensils"></i>
      <div class="card__details">
        <h2 class="subtitle">Healthy Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
          blanditiis debitis dolor atque quia numquam.
        </p>
      </div>
    </div>
    <div class="about__card" data-aos="fade-up-left">
      <i class="about__icon fas fa-mortar-pestle"></i>
      <div class="card__details">
        <h2 class="subtitle">Organic Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
          blanditiis debitis dolor atque quia numquam.
        </p>
      </div>
    </div>
    <div class="about__card" data-aos="fade-up-right">
      <i class="about__icon fas fa-drumstick-bite"></i>
      <div class="card__details">
        <h2 class="subtitle">Fresh Meat</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
          blanditiis debitis dolor atque quia numquam.
        </p>
      </div>
    </div>
    <div class="about__card" data-aos="fade-up-left">
      <i class="about__icon fas fa-fish"></i>
      <div class="card__details">
        <h2 class="subtitle">Sea Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
          blanditiis debitis dolor atque quia numquam.
        </p>
      </div>
    </div>
    <div class="about__card" data-aos="fade-up-right">
      <i class="about__icon fas fa-pepper-hot"></i>
      <div class="card__details">
        <h2 class="subtitle">Hot and spicy</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
          blanditiis debitis dolor atque quia numquam.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- end of about Us section -->

<!-- see feedbacks section -->
<section>
  <a
    href="/feedback"
    style="width: 100%; text-decoration: none; color: white"
    class="btn btn-primary py-2"
  >
    Click to See Our Customers Food's Feedbacks
  </a>
</section>
<!-- end of see feedback section -->

<!-- book table section -->
<section class="booktable__section">
  <div class="booktable__left">
    <p class="booktable__p">
      Now Our Booktable process is going on offline when it will be online it
      will be update on this webpage
    </p>
  </div>
  <div class="booktable__right">
    <h2>BOOK YOUR TABLE</h2>
    <h2>IN OUR RESTAURENT</h2>
    <a href="#menuItems" id="booktable__a">Book Table</a>
  </div>
</section>
<!-- end of book table section-->

<!-- food menus -->
<section class="food__menus" id="menuItems">
  <h1>Our FOOD Items</h1>
  <div class="food__cards__container">
    <% menuItems.forEach((menuItem,index)=>{ %>
    <div
      class="food__card"
      data-aos="<%= (index % 2 == 0) ? 'fade-up-right': 'fade-up-left' %>"
    >
      <img src="Images/<%= menuItem.image %>" alt="error" />
      <h3><%= menuItem.name %></h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae,
        aut?
      </p>
      <div class="food__perchase">
        <h4>$<%= menuItem.price %></h4>
        <% if(user){ %>
        <button
          data-food="<%= JSON.stringify(menuItem) %>"
          class="addcart__button"
        >
          Add to cart
        </button>
        <% } else { %>
        <button class="addcart__button">
          <a href="/login" class="login__toAdd">Login to Add </a>
        </button>
        <% } %>
      </div>
    </div>
    <% }) %>
  </div>
</section>
<!-- end of food menu section -->

<!-- social media section -->
<section class="social__media__section">
  <div class="social__media" data-aos="slide-down">
    <div class="social__facebook">
      <i class="social__app fab fa-facebook"></i>
      <h3>facebook</h3>
    </div>
    <div class="social__whatsapp">
      <i class="social__app fab fa-whatsapp-square"></i>
      <h3>whatsapp</h3>
    </div>
    <div class="social__twitter">
      <i class="social__app fab fa-twitter"></i>
      <h3>twitter</h3>
    </div>
  </div>
</section>
<!-- end of social media section -->

<!-- feedback form -->
<section id="feedback__section" class="feedback__section">
  <div class="feedback__div">
    <h1 style="text-align: center">Give Us feedback</h1>
    <form action="/feedback" method="POST" class="feedback__form">
      <% if(messages.error) { %>
      <span style="color: crimson"><%= messages.error %></span>
      <% } %>

      <div class="input__box" data-aos="slide-right">
        <input name="foodName" type="text" placeholder="Food Name" required />
      </div>
      <div class="input__box" data-aos="slide-left">
        <!-- <input type="number" min="0" max="5" placeholder="Give Ratings"/> -->
        <select name="ratings" class="input__select" required>
          <option value="">Select Ratings</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="input__box" data-aos="slide-right">
        <textarea
          name="review"
          type="text"
          placeholder="Enter your review here"
        ></textarea>
      </div>
      <div class="feedback__submit__button__div" data-aos="slide-up">
        <button class="feedback__submit__button" type="submit">
          submit Feedback
        </button>
      </div>
    </form>
  </div>
</section>
<!-- feedback form end -->
